<article data-role="page" id="page-devbed-menu" data-theme="b">
    <header data-role="header" data-position="inline">
        <a href="#" data-rel="back" data-icon="back" data-iconpos="left">Back</a>
        <h1>Menu</h1>
    </header>
    <section data-role="content">
        <h3>Menu:</h3>
        <div data-role="fieldcontain">
            <ul data-role="listview" data-inset="true">
                <li><a href="#native-scrollbar" data-role="button" data-transition="slide" data-icon="arrow-r">Control Native Scroll Bar</a></li>
                <li><a href="<todo.html>" data-role="button" data-transition="slide" data-icon="arrow-r">TBD:</a></li>
            </ul>
        </div>
    </section>
</article>
