/* variables */

/* custom mixins */

/* page common styles */

body {
    height: 100%;
    font-family:Arial,Helvetica,sans-serif;
    overflow: auto;
    -webkit-text-size-adjust: 100%;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    article {
        .ui-btn, .ui-slider {
            z-index: 2;
        }
    }
}

#navbar {
    width: 80%;
    height: 23px;
}