#page-devbed-main {
    > .fixed-screen {
        position: fixed;
        overflow: hidden;
    }
}

#auto-tests {
    position: absolute;
    width: 98%;
    height: 98%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
