#page-devbed-native-scrollbar {
    > .normal-screen {
        width: 100%;
        height: 3000px;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEUAAADJCAIAAAD6nWjdAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAFjSURBVHhe7dwxDUQxAMPQMjooBfZJ324EcWXpLR5DIOd370vas60929qzrT3b2rOtPdvas60929qzrT3b2rOtPdvas60929qzrT3b2rOtPdvas60929qzrT3b2rOtPdvas60929qzrT3b2rOtPdvas60929qzrT3b2rOtPdvas60929qzrT3b2rOtPdvas60929qzrT3b2rOtPdvas+25Ped8b2Hbse3Ydmw7th3bjm3HtmPbse3Ydmw7th3bjm3HtmPbse3Ydmw7th3bjm3HtmPbse3Ydmw7th3bjm3HtmPbse3Ydmw7th3bjm3HtmPbse3Ydmw7th3bjm3HtmPbse3Ydmw7th3bjm3HtmPbse3Ydmw7th3bjm3HtmPbse3Ydmw7th3bjm3HtmPbse3Ydmw7th3bjm3HtmPbse3Ydmw7th3bjm3HtmPbse3Ydmw7th3bjm3HtmPbse3YcvhTdLv3DxdzcT7tRihDAAAAAElFTkSuQmCC') /*bg.png*/;
        background-size: 100% 200px;
        background-repeat: repeat-y;
    }
}
